<body>
    <app-customer-navbar (cartClicked)="toggleCart()" (notfsClicked)="toggleNotfs()"></app-customer-navbar>
    <div #notifications class="notifications">
        <h3>Notifications</h3>
        <ul>
            <li *ngFor="let notification of notificationsList">
                <div class="notification-container">
                    <p class="notification-P">{{notification.message}}</p>
                    <p class="light-P">{{notification.timestamp}}</p>
                </div>
                <hr class="notification-line" />
            </li>
        </ul>
    </div>
    <div #cart class="cart">
        <div class="cart-container">
            <div class="cart-header">Your Cart</div>
            <table class="cart-table">
                <thead>
                    <tr>
                        <th>Product ID</th>
                        <th>Seller</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of productsCart">
                        <td>{{ item.productId }}</td>
                        <td>{{ item.sellerName }}</td>
                        <td><button class="remove-button" (click)="removeProductFromCart(item)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-trash" viewBox="0 0 16 16">
                                    <path
                                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                    <path fill-rule="evenodd"
                                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                </svg>
                            </button></td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-primary order-button" (click)="order()">Order</button>
        </div>
    </div>
    <div class="shop-container">
        <div class="tab shop-tab">
            <button class="shop-tab-item"><i class="fa fa-search"></i></button>
            <button class="shop-tab-item" (click)="scrollToElement(popularElement)">Most Popular</button>
            <button class="shop-tab-item" (click)="scrollToElement(drinksElement)">Drinks</button>
            <button class="shop-tab-item" (click)="scrollToElement(foodElement)">Food</button>
            <button class="shop-tab-item" (click)="scrollToElement(bottlesElement)">Bottled Beverages</button>
            <button class="shop-tab-item" (click)="scrollToElement(retailElement)">Retail</button>
        </div>
        <div class="products-type-group" id="popular" #popular>
            <div class="container">
                <h2>Most Popular</h2>
                <div class="row row-cols-1 row-cols-md-2">
                    <div class="col" *ngFor="let product of products">
                        <div class="card mb-3 product" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img [src]="product.fileName" class="img-fluid rounded-start product-img" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">{{product.name}}</h5>
                                        <p class="card-text"
                                            style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                            {{product.description}}</p>
                                        <p class="card-text">sold by: {{product.sellerName}}</p>
                                        <p class="card-text">$ {{product.price}}</p>
                                        <p class="card-text"><small class="text-muted">in stock: {{product.quantity}}</small></p>
                                        <a class="btn btn-primary" (click)="addProductToCart(product)">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-type-group" id="drinks" #drinks>
            <div class="container">
                <h2>Drinks</h2>
                <div class="row row-cols-1 row-cols-md-2">
                    <div class="col" *ngFor="let product of productsTest">
                        <div class="card mb-3 product" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img [src]="product.fileName" class="img-fluid rounded-start product-img" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">{{product.name}}</h5>
                                        <p class="card-text">{{product.description}}</p>
                                        <p class="card-text">sold by: {{product.sellerName}}</p>
                                        <p class="card-text">$ {{product.price}}</p>
                                        <p class="card-text"><small class="text-muted">in stock: 4</small></p>
                                        <a href="#" class="btn btn-primary">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-type-group" id="food" #food>
            <div class="container">
                <h2>Food</h2>
                <div class="row row-cols-1 row-cols-md-2">
                    <div class="col" *ngFor="let product of productsTest">
                        <div class="card mb-3 product" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img [src]="product.fileName" class="img-fluid rounded-start product-img" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">{{product.name}}</h5>
                                        <p class="card-text">{{product.description}}</p>
                                        <p class="card-text">sold by: {{product.sellerName}}</p>
                                        <p class="card-text">$ {{product.price}}</p>
                                        <p class="card-text"><small class="text-muted">in stock: 4</small></p>
                                        <a href="#" class="btn btn-primary">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-type-group" id="bottles" #bottles>
            <div class="container">
                <h2>Bottled Beverages</h2>
                <div class="row row-cols-1 row-cols-md-2">
                    <div class="col" *ngFor="let product of productsTest">
                        <div class="card mb-3 product" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img [src]="product.fileName" class="img-fluid rounded-start product-img" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">{{product.name}}</h5>
                                        <p class="card-text">{{product.description}}</p>
                                        <p class="card-text">sold by: {{product.sellerName}}</p>
                                        <p class="card-text">$ {{product.price}}</p>
                                        <p class="card-text"><small class="text-muted">in stock: 4</small></p>
                                        <a href="#" class="btn btn-primary">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-type-group" id="retail" #retail>
            <div class="container">
                <h2>Retail</h2>
                <div class="row row-cols-1 row-cols-md-2">
                    <div class="col" *ngFor="let product of productsTest">
                        <div class="card mb-3 product" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img [src]="product.fileName" class="img-fluid rounded-start product-img" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">{{product.name}}</h5>
                                        <p class="card-text">{{product.description}}</p>
                                        <p class="card-text">sold by: {{product.sellerName}}</p>
                                        <p class="card-text">$ {{product.price}}</p>
                                        <p class="card-text"><small class="text-muted">in stock: 4</small></p>
                                        <a href="#" class="btn btn-primary">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>